extends layout

block content
	p#results Here are current results in the <strong>#{election.name}</strong> election.
	
	ul#results
		each race in races
			li.race(id=race.id)
				h2= race.name
				ul
					each candidate in race.candidates
						li.candidate
							strong #{candidate.name}
							| : 
							span #{candidate.tally}
					li.clear
							
block footer
	script(src='/lib/chart.js')
	script(src='/scripts/results.js')