extends layout

block content

	div.admin.controls.btn-group
		if( election.open )
			a.btn.btn-success#toggle(href=process.env.BASE_URL + '/election/' + election.id + '/toggle') Close election
		else
			a.btn.btn-primary#toggle(href=process.env.BASE_URL + '/election/' + election.id + '/toggle') Open election
		a.btn#Ballot(href=process.env.BASE_URL + '/election/' + election.id + '/vote') Ballot
		button.btn.btn-danger#delete(type='button',data-toggle='modal',data-target='#confirmDelete') Delete election

	div.modal.hide.fade.form-horizontal#confirmDelete(aria-labelledby="confirmDelete",aria-hidden="true")
		.modal-body
			p Are you sure you want to delete this election?
		.modal-footer
			a.btn.btn-danger(href=process.env.BASE_URL + '/election/' + election.id + '/delete') Delete
			button.btn(data-dismiss='modal',aria-hidden='true') Close
	
	p#results Here are current results in the <strong>#{election.name}</strong> election.
	
	ul#results
		each race in races
			li.race(id=race.id)
				h2= race.name
				ul
					each candidate in race.candidates
						li.candidate
							strong #{candidate.name}
							| : 
							span #{candidate.tally}
					li.clear
							
block footer
	script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
	script(src='/lib/chart.js')
	script(src='/scripts/results.js')