extends layout

block content
	form(class='ballot', id=election.id,method='POST')
		h1= title
		
		if admin
			p What is your NetID?
			input(id='netID',type='text',name='netID')
		
		p Please vote for candidates in each of the following races.
		ul#races
			each race in races
				li.race(id=race.id)
					h2= race.name
					ul
						each candidate in race.candidates
							li.candidate
								input(type='checkbox',name=race.id,id=candidate.id,value=candidate.id)
								label(for=candidate.id)= candidate.votes
		
		input(id='submit',type='submit',value='Vote')