extends layout

block content
	form(class='ballot', id=election.id)
		h1= title
		
		p What is your NetID?
		input(id='netID',type='text',name='netID')
		
		p Please vote for candidates in each of the following races.
		ul#races
			each race in races
				li.race(id=race.id)
					h2= race.name
					ul
						each candidate in race.candidates
							li.candidate(id=candidate.id)
								a(href=process.env.BASE_URL + '/election/' + election.id + '/vote/' + race.id + '/for/' + candidate.id) candidate.name
		
		input(id='submit',type='submit',value='Vote')