extends layout

block content

	if( admin )
		div.admin.controls.btn-group
			if( election.open )
				a.btn.btn-success#toggle(href=process.env.BASE_URL + '/election/' + election.id + '/toggle') Close election
			else
				a.btn.btn-primary#toggle(href=process.env.BASE_URL + '/election/' + election.id + '/toggle') Open election
			a.btn#results(href=process.env.BASE_URL + '/election/' + election.id + '/results') Results
			a.btn.btn-danger#toggle(href=process.env.BASE_URL + '/election/' + election.id + '/delete') Delete election

	form(class='ballot', id=election.id,method='POST',action=process.env.BASE_URL + '/election/' + election.id + '/confirm')
		
		if( false )
			#admin
				input(id='netID',name='netID',type='text',placeholder='NetID')
				input(id='RFID',name='RFID',type='text',placeholder='RFID')
		else
			p#directions For each office, select your chosen candidate or <em>no confidence</em>. When you have finished, simply click <strong>Vote</strong>.
	
		ul#races
			each race in races
				li.race(id=race.id)
					h2= race.name
					ul
						each candidate in race.candidates
							li.candidate.person(class=candidate.photo ? "photo" : "nophoto")
								input(type='radio',name=race.id,id=candidate.id,value=candidate.id)
								label(for=candidate.id)
									strong
										| #{candidate.name}
										if( candidate.shortyear && false)
											|  '#{candidate.shortyear}
									if( candidate.photo )
										img(src=candidate.photo,width=100,height=137)
									em.check
								if( candidate.bio )
									button.btn(type='button') BIO
									p.bio=candidate.bio
						li.candidate.abstain.nophoto
							input(type='radio',name=race.id,id=race.id+'-abstain',value='abstain',checked=true)
							label(for=race.id+'-abstain')
								strong Abstain
								em.check
						li.clear
		
		h2#vote
			input.btn.btn-large(id='submit',type='submit',value='Vote')